
	body{
		font-family: sans-serif;
	}
	a:link    { color:#993333; text-decoration:none; font-weight:bold}
	a:visited { color:#000000; text-decoration:none;}
	table     {border-collapse:collapse;} 
	table td  {padding:0;}
	#newslist tr:hover{
		background-color:#FFE47A
	}
	.header{
		font-weight:bold;
		cursor:pointer
	}
	.selected{
		background-color:#fff;
		font-style:italic;
		border:1px solid red
	}